**Assignment 1: String Concatenation and Formatting**

**Instructions:**

1. Create a variable `name` and assign your name to it.
2. Create a variable `age` and assign your age to it.
3. Create a variable `country` and assign your country of residence to it.
4. Using the `+` operator, concatenate the variables to form a sentence in the following format: "My name is `<name>`, I am `<age>` years old, and I live in `<country>`."
5. Print the concatenated sentence.

In [9]:
name="MDSQ"
age=36
country="Pakistan"

data="Name: "+ name + " Age: "+str(age)+" Country: "+ country

print(data)

Name: MDSQ Age: 36 Country: Pakistan

In [13]:
name="MDSQ"
age=36
country="Pakistan"

data="My Name "+ name + " ,I am "+str(age)+" year old, I live in "+ country+"."

print(data)

My Name MDSQ ,I am 36 year old, I live in Pakistan.


**Assignment 2: String Formatting using `.format()`

**Instructions:**

1. Create a variable `item` and assign a product name to it (e.g., "laptop", "book", "phone").
2. Create a variable `price` and assign a price to the item.
3. Create a variable `quantity` and assign a quantity value.
4. Calculate the total cost using the formula: `total_cost = price * quantity`.
5. Using the `.format()` method, create a formatted string: "I bought `<quantity>` `<item>`(s) at `<price>` each, for a total of $`<total_cost>`."
6. Print the formatted string.

In [24]:
item= "laptop"
price= 20000
quantity=50

total_cost="Total Cost : " + str ( price*quantity )

print(total_cost)

Total Cost : 1000000

In [26]:
item = "laptop"
price = 20000
quantity = 50

total_cost = "Total Cost: {:,d}/=".format(price * quantity) # Using :,d simply adds commas to make the number more readable, but it is not required.

print(total_cost)

Total Cost: 1,000,000/=

In [34]:
plot=int(input("Plot area: "))
price=int(input("Plot price: "))

total_plot_price="Total Plot Price: {:,d}/=".format(plot*price)

print(total_plot_price)

Plot area: 120
Plot price: 10000
Total Plot Price: 1,200,000/=

**Assignment 3: String Interpolation using `f''`

**Instructions:**

1. Create a variable `city` and assign the name of a city.
2. Create a variable `temperature` and assign a temperature value in Celsius.
3. Using `f''` string interpolation, create a string: "The temperature in `<city>` is `<temperature>`Â°C."
4. Print the interpolated string.